#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.email-list-container{
  width : 70%;
  float: left;
}

.ant-layout-header{
  background: #fff;
}
.email-ops-container{
  width: 30%;
  float: left;
}