#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.email-list-container{
  width : 80%;
  float: left;
}

.ant-layout-header{
  background: #fff;
}
.email-ops-container{
  width: 20%;
  float: left;
}
.ant-layout-header{
  background: #2C5773 !important;
}
.actions-right{
  float: right;
  margin : 20px
}
.mail-icon-style{
  float:right;
  font-size: 30px;
  /* color: #fff; */
  background: #fff;
}
.mail-count{
  color : #fff
}